/* Max Width 1200px */
@media(max-width:1200px){
    html{
        font-size: 12px;
    }
    .items .item{
        width: 45%;
    }
    footer .container .col{
        width: 33%;
    }
    #nav-links ul{
        display:flex;
        flex-direction: column;
        text-align: right;
    }
}
/* Max Width 992px */
@media(max-width:992px){
    html{
        font-size: 10px;
    }
    .items .item{
        width: 45%;
    }
    footer .container .col{
        width: 33%;
    }
    #nav-links ul{
        display:flex;
        flex-direction: column;
        text-align: right;
    }
    #nav-links .nav-icon{
        display: inline-block;
    }
    #nav-links.nav-menu li:not(:first-child){
        display: none;
    }
}



/* Max Width 786px */
@media(max-width:768px){
    html{
        font-size: 8px;
    }
    .items .item{
        width: 60%;
    }
    footer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* Max Width 546px */
@media(max-width:546px){
    html{
        font-size: 7px;
    }
    .items .item{
        width: 100%;
    }

}